
h1{
  text-align: center;
  font-size: 70px;
  padding: 1% 3%;
  background-color: yellow;
  width:100%;
}
.travel-pics{
  width:100%;
  height: 600px;
  padding: 2% 12%;
  text-align: center;
  margin: 0 2%;
}
h3{
  padding: 2% 16%;
  text-align:justify;
  width: 100%;

}
h2{
  padding: 1% 3%;
  font-size: 120px;
  text-align: center;
  background-color: #00FFAB;
}
.travel-image{
  width: 100%;
  border: 80%;
  height: auto;
  padding: 0 2%;
}
.carousel-item{
  padding:2% 2% 8% 2%;
}
#comment{
  background-color: #5FD068;
  padding:1% 4%;
}

p{
  font-size: 60px;
  padding: 0 3%;
  background-color: #82DBD8;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}
